@use "@styles/utils" as *;

.map {
  background: linear-gradient(to right, rgba(white, 0.8), rgba(white, 0.8)),
    url(@images/map.png) no-repeat center center / cover;

  width: 100%;
  aspect-ratio: 192 / 20;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .map-icon {
    width: 2rem;
    aspect-ratio: 20 / 26;
    object-fit: cover;
  }
  .map-title {
    position: relative;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: $primary-color;
    font-weight: 700;
    font-family: $primary-font;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 2rem;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 6rem;
      height: 0.3rem;
      background-color: $primary-color;
    }
  }
}

@include between(lg, xl) {
  .map .map-icon {
    width: 1.6rem;
  }
  .map .map-title {
    font-size: 1.8rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
  }
  .map .map-title::after {
    width: 6rem;
    height: 0.3rem;
  }
}
@include between(md, lg) {
  .map .map-icon {
    width: 1.4rem;
  }
  .map .map-title {
    font-size: 1.4rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
  .map .map-title::after {
    width: 5rem;
    height: 0.2rem;
  }
}
@include between(sm, md) {
  .map .map-icon {
    width: 1.2rem;
  }
  .map .map-title {
    font-size: 1.2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.75rem;
  }
  .map .map-title::after {
    width: 4rem;
    height: 0.2rem;
  }
}
@include between(xs, sm) {
  .map .map-icon {
    width: 1rem;
  }
  .map .map-title {
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 0.5rem;
  }
  .map .map-title::after {
    width: 4rem;
    height: 0.2rem;
  }
}
@include between(xxs, xs) {
  .map .map-icon {
    width: 0.8rem;
  }
  .map .map-title {
    font-size: 0.8rem;
    padding-top: 0;
    padding-bottom: 0.5rem;
  }
  .map .map-title::after {
    width: 3rem;
    height: 0.1rem;
  }
}
@include media(max, xxs) {
  .map .map-icon {
    width: 0.6rem;
  }
  .map .map-title {
    font-size: 0.5rem;
    padding-top: 0;
    padding-bottom: 0.25rem;
  }
  .map .map-title::after {
    width: 2rem;
    height: 0.1rem;
  }
}
