@use '@styles/utils' as *;

.wedo{
    padding-top: 11rem;
    padding-bottom: 11rem;
    background-color: $bg-color;
    
    .wedo-caption{
        text-align: center;
        padding-bottom: 2.5rem;

        font-family: $third-font;
        font-size: 2.4rem;
        font-weight: 400;
        color: $title-color;
    }

    .wedo-title{
        position: relative;
        padding-bottom: 4rem;
        margin-bottom: 4.5rem;
        text-align: center;

        font-family: $primary-font;
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $title-color;
        // border: 2px solid black;

        &::after{
            content:"";
            width: 6rem;
            height: 0.3rem;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            background-color: $primary-color;
            z-index: 10;
        }
    }

    .wedo-desc{
        display: block;
        max-width: 96rem;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 9rem;
        text-align: center;

        font-family: $secondary-font;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.4rem;

        color: $text-color;
    }

    .wedo-body{
        display: flex;
        justify-content: space-between;
        max-width: 120rem;
        aspect-ratio: 3.16 / 1;
    }

    .wedo-image{
        width: 48%;
    }

    .wedo-list{
        width: 50%;
        height: 100%;
    }
   .wedo-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        border: 1px solid $gray-dark-color;
        cursor: pointer;
   }

   .wedo-item-trigger{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem ;
        border-bottom: 2px solid $gray-dark-color;
        
   }

   .wedo-item-image{
    cursor: pointer;
    }

    .wedo-item-icon{
        cursor: pointer;
    }

    .wedo-turn-icon{
        transform: rotate(180deg);
    }

   .wedo-item-title{
        flex-grow: 1;
        text-transform: uppercase;
        padding: 0rem 5rem 0rem 1.5rem;
        font-size: 1.4rem;
        color: $title-color;
        font-weight: 400;
        font-family: $primary-font;
        @include textellip(1);
   }
   .wedo-item-content{
        padding: 2rem 1.5rem;
        display: none;
   }

   .wedo-item-desc{
        width: 100%;
        height: 12.5rem;
        padding-right: 1rem;
        overflow-y: auto;

        font-size: 1.5rem;
        line-height: 2.4rem;
        color: $text-color;
        font-weight: 300;
        font-style: italic;
        font-family: $secondary-font;

        @include scrollbarfirefox($gray-dark-color,$third-color);

        @include scrollbar(5px,50px,25px,$gray-dark-color,$third-color);


    }

    .show{
        display: block;
    }

}

@include between(md,lg){
    .wedo {
        padding-bottom: 15rem;
    }
    .wedo .wedo-caption {
        padding-bottom: 2.5rem;
        font-size: 2.1rem;
    }

    .wedo .wedo-title {
        padding-bottom: 4rem;
        margin-bottom: 4.5rem;
        font-size: 2.6rem;
    }
    .wedo .wedo-title::after {
        width: 6rem;
        height: 0.3rem;
    }

    .wedo .wedo-desc {
        padding-bottom: 9rem;
        font-size: 1.5rem;
        line-height: 2.4rem;
    }
};
@include between(sm,md){
    .wedo {
        padding-bottom: 21rem;
    }
    .wedo .wedo-caption {
        padding-bottom: 2rem;
        font-size: 2.1rem;
    }

    .wedo .wedo-title {
        padding-bottom: 4rem;
        margin-bottom: 4.5rem;
        font-size: 2.4rem;
    }
    .wedo .wedo-title::after {
        width: 6rem;
        height: 0.3rem;
    }

    .wedo .wedo-desc {
        padding-bottom: 9rem;
        font-size: 1.3rem;
        line-height: 2.4rem;
    }

    .wedo .wedo-body {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        max-width: 120rem;
        aspect-ratio: 3.16/1;
    }
    .wedo .wedo-list {
        width: 100%;
        // height: 100%;
    }
    .wedo .wedo-image {
        padding-bottom: 1rem;
        width: 100%;
    }
};
@include between(xs,sm){
    .wedo {
        padding-bottom: 18rem;
        padding-top: 8rem;
    }
    .wedo .wedo-caption {
        padding-bottom: 2rem;
        font-size: 1.5rem;
    }

    .wedo .wedo-title {
        padding-bottom: 4rem;
        margin-bottom: 4.5rem;
        font-size: 2rem;
    }
    .wedo .wedo-title::after {
        width: 6rem;
        height: 0.3rem;
    }

    .wedo .wedo-desc {
        padding-bottom: 9rem;
        font-size: 1.2rem;
        line-height: 2.4rem;
    }

    .wedo .wedo-body {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        max-width: 120rem;
        aspect-ratio: 3.16/1;
    }
    .wedo .wedo-list {
        width: 100%;
        // height: 100%;
    }
    .wedo .wedo-image {
        padding-bottom: 1rem;
        width: 100%;
    }
        .wedo .wedo-item-trigger {
        padding: 1rem;
        border-bottom: 2px solid #cccccc;
    }
    .wedo .wedo-item-title {
        font-size: 1.2rem;
    }
    .wedo .wedo-item-desc {
        height: 10.5rem;
        padding-right: 1rem;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
    .wedo .wedo-item-image {
        width: 2.5rem;
        height: 2.5rem;
    }

    .wedo .wedo-item-icon {
        width: 1.9rem;
        height: 0.9rem;
    }
};
@include between(xxs,xs){
    .wedo {
        padding-bottom: 16rem;
        padding-top: 6rem;
    }
    .wedo .wedo-caption {
        padding-bottom: 2rem;
        font-size: 1.5rem;
    }

    .wedo .wedo-title {
        padding-bottom: 4rem;
        margin-bottom: 4.5rem;
        font-size: 1.8rem;
    }
    .wedo .wedo-title::after {
        width: 4rem;
        height: 0.2rem;
    }

    .wedo .wedo-desc {
        padding-bottom: 5rem;
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .wedo .wedo-body {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        max-width: 120rem;
        aspect-ratio: 3.16/1;
    }
    .wedo .wedo-list {
        width: 100%;
        // height: 100%;
    }
    .wedo .wedo-image {
        padding-bottom: 1rem;
        width: 100%;
    }
    .wedo .wedo-item-trigger {
        padding: 1rem;
        border-bottom: 2px solid #cccccc;
    }
    .wedo .wedo-item-title {
        font-size: 1.2rem;
    }
    .wedo .wedo-item-desc {
        height: 7.5rem;
        padding-right: 1rem;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
        .wedo .wedo-item-image {
        width: 2rem;
        height: 2rem;
    }

    .wedo .wedo-item-icon {
        width: 1.8rem;
        height: 0.8rem;
    }
};
@include media(max,xxs){
    .wedo {
        padding-bottom: 14rem;
        padding-top: 5rem;
    }
    .wedo .wedo-caption {
        padding-bottom: 1.5rem;
        font-size: 1.2rem;
    }

    .wedo .wedo-title {
        padding-bottom: 3rem;
        margin-bottom: 3.5rem;
        font-size: 1.5rem;
    }
    .wedo .wedo-title::after {
        width: 4rem;
        height: 0.1rem;
    }

    .wedo .wedo-desc {
        padding-bottom: 3rem;
        font-size: 1rem;
        line-height: 1.4rem;
    }

    .wedo .wedo-body {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        max-width: 120rem;
        aspect-ratio: 3.16/1;
    }
    .wedo .wedo-list {
        width: 100%;
        // height: 100%;
    }
    .wedo .wedo-image {
        padding-bottom: 1rem;
        width: 100%;
    }
    .wedo .wedo-item-trigger {
        padding: 0.35rem;
        border-bottom: 2px solid #cccccc;
    }
    .wedo .wedo-item-title {
        font-size: 1rem;
    }
    .wedo .wedo-item-desc {
        height: 5.5rem;
        padding-right: 0.5rem;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
    .wedo .wedo-item-image {
        width: 2rem;
        height: 2rem;
    }

    .wedo .wedo-item-icon {
        width: 1.5rem;
        height: 0.5rem;
    }
};