// base/_base.scss
@use "../utils" as *;


body {
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

input, textarea, select {
  width: 100%;
  display: block;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;

  &:focus {
    border-color: $color-link;
  }
}

// Scrollbar (optional)
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}


